body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

canvas {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#start-game {
	position: absolute;
	height: 50%;
	width: 50%;
	position: absolute;
	background-color: white;
	text-align: center; 
}

#player-wins {
	display: none;
	position: absolute;
	height: 50%;
	width: 50%;
	background-color: white;
	text-align: center; 
}

#game-over {
	display: none;
	height: 50%;
	width: 50%;
	position: absolute;
	background-color: white;
	text-align: center;  
}

h1 {
	color: black;
}

button {
	position: relative;
	height: 15%;
	width: 30%;
	top: 10%;
	color: black;
}

button:hover {
	cursor: pointer;
}

